@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    background-color: #fdefff;
    overflow-x: hidden;
  }
  button, [role="button"] {
    cursor: pointer;
    background-color: cadetblue;
}
 .logout-btn{
  cursor: pointer;
  background-color: red;
}

.delete-btn{
  cursor: pointer;
  background-color: yellow;
}

}

